.Rproj.user
.Rcheck
.Rhistory
crazyforest.Rcheck/
*.Rproj
.project
.cproject
docs
crazyforest*.tar.gz
crazyforest*.tgz
revdep/*
.vscode
tmp_lib/
src/*.o
src/*.so
src/*.dll
src-i386/
src-x64/
cpp_version/build/
cpp_version/bin/